<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-wf-page="5ef28817d931a3743b033cdf"
      data-wf-site="5ef28817d931a31fcc033ce0"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Add Contact</title>
</head>
<body>
<div layout:fragment="content">
    <div class="box-holder">
        <div class="headhero-center">Add Contact</div>
        <div class="hero-text-holder">
            <form action="#" th:action="@{/addcontact}" th:object="${contact}" method="post">
                <label class="field-label-2">First Name: <input type="text" class="text-field w-input" maxlength="255" required="true" th:field="*{FirstName}" /></label>
                <label class="field-label-2" th:if="${#fields.hasErrors('FirstName')}" th:errors="*{FirstName}" style="color:red"></label>
                <label class="field-label-2">Last Name: <input type="text" class="text-field w-input" maxlength="255" required="true" th:field="*{LastName}" /></label>
                <label class="field-label-2" th:if="${#fields.hasErrors('LastName')}" th:errors="*{LastName}" style="color:red"></label>
                <label class="field-label-2">Phone Number: <input type="tel" class="text-field w-input" maxlength="20" required="true" th:field="*{PhoneNumber}" /></label>
                <label class="field-label-2" th:if="${#fields.hasErrors('PhoneNumber')}" th:errors="*{PhoneNumber}" type="" style="color:red"></label>
                <input class="btn" type="submit" id="button" value="Add Contact" />
            </form>
        </div>
    </div>
    <div class="phone-sign--up w-container">
        <div class="hero-text-holder">
            <div class="headhero-center">Add Contact</div>
            <form action="#" th:action="@{/addcontact}" th:object="${contact}" method="post">
                <label class="field-label-2">First Name: <input type="text" class="text-field w-input" maxlength="255" required="true" th:field="*{FirstName}" /></label>
                <label class="field-label-2" th:if="${#fields.hasErrors('FirstName')}" th:errors="*{FirstName}" style="color:red"></label>
                <label class="field-label-2">Last Name: <input type="text" class="text-field w-input" maxlength="255" required="true" th:field="*{LastName}" /></label>
                <label class="field-label-2" th:if="${#fields.hasErrors('LastName')}" th:errors="*{LastName}" style="color:red"></label>
                <label class="field-label-2">Phone Number: <input type="tel" class="text-field w-input" maxlength="20" required="true" th:field="*{PhoneNumber}" /></label>
                <label class="field-label-2" th:if="${#fields.hasErrors('PhoneNumber')}" th:errors="*{PhoneNumber}" style="color:red"></label>
                <input class="btn" type="submit" id="button" href="emergencycontact" value="Add Contact" />
            </form>
        </div>
    </div>
</div>
</body>
</html>