<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-wf-page="5ef28817d931a3743b033cdf"
      data-wf-site="5ef28817d931a31fcc033ce0"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
<body>


<div layout:fragment="content">

    <a href="addcontact" class="link-block-4 w-inline-block">
        <div class="btn-2">Add emergency contacts</div>

    <a href="deletecontact" class="link-block-4 w-inline-block">
            <div class="btn-2">Delete emergency contacts</div>

    <a href="updatecontact" class="link-block-4 w-inline-block">
            <div class="btn-2">Update emergency contact</div>

</div>
</body>
</html>