<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-wf-page="5ef28817d931a3743b033cdf"
      data-wf-site="5ef28817d931a31fcc033ce0"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>User Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <div class="box-holder">
        <div class="headhero-center">Dashboard</div>
        <div class="subheading-center" style="color: hsla(0, 4%, 10%, 0.66);">Add contacts to prepare for an emergency situation</div>
        <div class="hero-text-holder">
            <a href="emergencycontact" class="link-block-4">
                <div class="btn-2" style="background-color:#5a92a3">Emergency Contacts<br/>
                <div style="font-size: 9px;">Click here to add, edit, and remove emergency contacts</div>
                </div>
            </a>
            <a class="link-block-4">
                    <div class="btn-2" style="margin-top:50px;background-color:#a36b5a">Record<br/>
                        <div style="font-size: 9px;">Click here to start recording and/or to make a call</div>
                    </div>
            </a>
            <a href="accountsettings" class="link-block-4">
                    <div class="btn-2" style="margin-top:50px;background-color:#6b5aa3">Account Settings<br/>
                        <div style="font-size: 9px;">Click here to view account settings</div>
                    </div>
            </a>
        </div>
    </div>
    <div class="phone-sign--up w-container">
        <div class="headhero-center">Dashboard</div>
        <div class="subheading-2" style="color: hsla(0, 4%, 10%, 0.66);">Add contacts to prepare for an emergency situation</div>
        <div class="hero-text-holder">
            <a href="emergencycontact" class="link-block-4">
                <div class="btn-2" style="background-color:#5a92a3">Emergency Contacts<br/>
                    <div style="font-size: 9px;">Click here to add, edit, and remove emergency contacts</div>
                </div>
            </a>
            <a class="link-block-4">
                <div class="btn-2" style="margin-top:50px;background-color:#a36b5a">Record<br/>
                    <div style="font-size: 9px;">Click here to start recording and/or to make a call</div>
                </div>
            </a>
            <a  href="accountsettings" class="link-block-4">
                <div class="btn-2" style="margin-top:50px;background-color:#6b5aa3">Account Settings<br/>
                    <div style="font-size: 9px;">Click here to view account settings</div>
                </div>
            </a>
        </div>
    </div>
</div>
</div>
</body>
</html>
</body>