<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-wf-page="5ef28817d931a3743b033cdf"
      data-wf-site="5ef28817d931a31fcc033ce0"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Emergency Contact</title>
</head>
<body>
<div layout:fragment="content">

    <div class="section">
        <div class="div-block-4"></div>
    </div>
    <section class="cards-section">
        <div class="centered-container w-container">
            <div class="headhero-left">Emergency Contact</div>
            <div class="w-row">
                <div class="w-col w-col-6"></div>
                <div class="w-clearfix w-col w-col-6"><a href="#" class="button-3 w-button">Add Contact</a></div>
            </div>
            <div class="cards-grid-container-2">
                <div id="w-node-8c703eaea963-74abb65f">
                    <div class="econteact-holder">
                        <div class="hero-text-holder">
                            <div class="w-form">
                                <form id="email-form" name="email-form" data-name="Email Form" class="form">Contact Name</label>
                                    <h3>First Last</h3>Phone Number</label>
                                    <h3>Phone Number</h3>
                                    <p class="paragraph-2"><a href="#">Edit</a> | <a href="#">Delete</a></p>
                                </form>
                                <div class="w-form-done">
                                    <div>Thank you! Your submission has been received!</div>
                                </div>
                                <div class="w-form-fail">
                                    <div>Oops! Something went wrong while submitting the form.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="w-node-8c703eaea96a-74abb65f">
                    <div class="econteact-holder">
                        <div class="hero-text-holder">
                            <div class="w-form">
                                <form class="form">Contact Name</label>
                                    <h3>First Last</h3>Phone Number</label>
                                    <h3>Phone Number</h3>
                                    <p class="paragraph-2"><a href="#">Edit</a> | <a href="#">Delete</a></p>
                                </form>
                                <div class="w-form-done">
                                    <div>Thank you! Your submission has been received!</div>
                                </div>
                                <div class="w-form-fail">
                                    <div>Oops! Something went wrong while submitting the form.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="w-node-8c703eaea971-74abb65f">
                    <div class="econteact-holder">
                        <div class="hero-text-holder">
                            <div class="w-form">
                                <form class="form">Contact Name</label>
                                    <h3>First Last</h3>Phone Number</label>
                                    <h3>Phone Number</h3>
                                    <p class="paragraph-2"><a href="#">Edit</a> | <a href="#">Delete</a></p>
                                </form>
                                <div class="w-form-done">
                                    <div>Thank you! Your submission has been received!</div>
                                </div>
                                <div class="w-form-fail">
                                    <div>Oops! Something went wrong while submitting the form.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="phone-emergency">
        <div class="headhero-left">Emergency Contact</div>
        <div class="button-section w-clearfix"><a href="#" class="button-3 w-button">Add Contact</a></div>
        <section class="phone-cards-section">
            <div class="w-form">
                <form class="form">Contact Name</label>
                    <h3>First Last</h3>Phone Number</label>
                    <h3>Phone Number</h3>
                    <p class="paragraph-2"><a href="#">Edit</a> | <a href="#">Delete</a></p>
                </form>
                <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </section>
        <section class="phone-cards-section">
            <div class="w-form">
                <form class="form">Contact Name</label>
                    <h3>First Last</h3>Phone Number</label>
                    <h3>Phone Number</h3>
                    <p class="paragraph-2"><a href="#">Edit</a> | <a href="#">Delete</a></p>
                </form>
                <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </section>
        <div class="w-form">
            <form class="form">Contact Name</label>
                <h3>First Last</h3>Phone Number</label>
                <h3>Phone Number</h3>
                <p class="paragraph-2"><a href="#">Edit</a> | <a href="#">Delete</a></p>
            </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div>
    </div>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5ef28817d931a31fcc033ce0" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/swe-lifeline.js" type="text/javascript"></script>
</div>
</body>
</html>