<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-wf-page="5ef28817d931a3743b033cdf"
      data-wf-site="5ef28817d931a31fcc033ce0"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="utf-8">
  <title>Forgot</title>
</head>
<body>
<div layout:fragment="content">
  <div class="box-holder">
    <div class="headhero-left">Forgot Your Password?</div>
    <div class="hero-text-holder">
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form" class="form"><label for="email">Email Address</label><input type="email" class="text-field-2 w-input" maxlength="256" name="email" data-name="Email" id="email" required="">
          <div class="w-row">
            <div class="w-col w-col-8">
              <a href="sign-in" class="link-block-6 w-inline-block">
                <div class="forget">Already have an account?</div>
              </a>
            </div>
            <div class="w-col w-col-4">
              <a href="#" class="link-block-7 w-inline-block">
                <div class="btn">Submit</div>
              </a>
            </div>
          </div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="phone-forgot w-container">
    <div class="headhero-left">Forgot Your Password?</div>
    <div class="hero-text-holder">
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form" class="form"><label for="email-2">Email Address</label><input type="email" class="text-field-2 w-input" maxlength="256" name="email-2" data-name="Email 2" id="email-2" required="">
          <div class="w-row">
            <div class="column-8 w-col w-col-8">
              <a href="sign-in" class="link-block-6 w-inline-block">
                <div class="forget">Already have an account?</div>
              </a>
            </div>
            <div class="w-col w-col-4">
              <a href="#" class="link-block-7 w-inline-block">
                <div class="btn">Submit</div>
              </a>
            </div>
          </div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>