<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-wf-page="5ef28817d931a3743b033cdf"
      data-wf-site="5ef28817d931a31fcc033ce0"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Send Video</title>
</head>
<body class="body-2">
<div layout:fragment="content">
    <div class="box-holder">
        <div class="headhero-center">Send Video</div>
        <div class="hero-text-holder">
            <div class="w-form">
                <form id="email-form" name="email-form" data-name="Email Form" class="form"><label for="Contact">Choose Recipient:</label><input type="tel" class="text-field-2 w-input" maxlength="256" name="Contact" data-name="Contact" id="Contact" required=""><label for="Message">Attach Text Message:</label><input type="text" class="message-text-field w-input" maxlength="256" name="Message" data-name="Message" id="Message" required="">
                    <div class="w-row">
                        <div class="column-13 w-col w-col-8"></div>
                        <div class="w-col w-col-4">
                            <a href="#" class="link-block-9 w-inline-block">
                                <div class="btn">Send</div>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="phone-sign-in w-container">
        <div class="headhero-left">Send Video</div>
        <div class="hero-text-holder">
            <div class="w-form">
                <form id="email-form" name="email-form" data-name="Email Form" class="form"><label for="Contact-2">Choose Recipient:</label><input type="tel" class="text-field-2 w-input" maxlength="256" name="Contact" data-name="Contact" id="Contact-2" required=""><label for="Message-2">Attach Text Message:</label><input type="text" class="message-text-field w-input" maxlength="256" name="Message" data-name="Message" id="Message-2" required="">
                    <div class="w-row">
                        <div class="column-9 w-col w-col-8"></div>
                        <div class="w-col w-col-4">
                            <a href="#" class="link-block-9 w-inline-block">
                                <div class="btn">Send</div>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5ef28817d931a31fcc033ce0" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="js/swe-lifeline.js" type="text/javascript"></script>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>

</html>