<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org"
            data-wf-page="5ef28817d931a3743b033cdf"
      data-wf-site="5ef28817d931a31fcc033ce0"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="utf-8">
  <title>Sign up</title>
</head>
<body>
<div layout:fragment="content">
  <div class="box-holder">
    <div class="headhero-center">Create an account</div>
    <div class="hero-text-holder">
          <form action="#" th:action="@{/sign-up}" th:object="${user}" method="post">
            <label class="field-label-2">First Name: <input type="text" class="text-field w-input" maxlength="255" required="true" th:field="*{FirstName}" /></label>

            <label class="field-label-2">Last Name: <input type="text" class="text-field w-input" maxlength="255" required="true" th:field="*{LastName}" /></label>

            <label class="field-label-2">Email: <input type="text" class="text-field w-input" required="true" th:field="*{Username}" /></label>

            <label class="field-label-2">Phone Number: <input type="tel" class="text-field w-input" maxlength="20" required="true" th:field="*{PhoneNumber}" /></label>

            <label class="field-label-2">Password: <input type="password" class="text-field w-input" required="true" th:field="*{Password}" /></label>

            <label class="field-label-2">Confirm Password: <input type="password" class="text-field w-input" required="true" th:field="*{ConfirmPassword}" /></label>

            <input class="btn" type="submit" value="Create an account" />
          </form>
    </div>
  </div>
  <div class="phone-sign--up w-container">
    <div class="hero-text-holder">
      <div class="headhero-center">Create an account</div>
      <form action="#" th:action="@{/sign-up}" th:object="${user}" method="post">
        <label class="field-label-2">First Name: <input type="text" class="text-field w-input" maxlength="255" required="true" th:field="*{FirstName}" /></label>

        <label class="field-label-2">Last Name: <input type="text" class="text-field w-input" maxlength="255" required="true" th:field="*{LastName}" /></label>

        <label class="field-label-2">Email: <input type="text" class="text-field w-input" required="true" th:field="*{Username}" /></label>

        <label class="field-label-2">Phone Number: <input type="tel" class="text-field w-input" maxlength="20" required="true" th:field="*{PhoneNumber}" /></label>

        <label class="field-label-2">Password: <input type="password" class="text-field w-input" required="true" th:field="*{Password}" /></label>

        <label class="field-label-2">Confirm Password: <input type="password" class="text-field w-input" required="true" th:field="*{ConfirmPassword}" /></label>

        <input class="btn" type="submit" value="Create an account" />
      </form>
    </div>
  </div>
</div>
</body>
</html>