<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-wf-page="5ef28817d931a3743b033cdf"
      data-wf-site="5ef28817d931a31fcc033ce0"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Video</title>
</head>
<body class="body-2">
<div layout:fragment="content">
    <div class="box-holder">
        <div class="headhero-center">Video</div>
        <div class="hero-text-holder">
            <form action="#" th:action="@{/videoload}" th:object="${videoSaveModel}" method="post">
                <input type="file" accept="video/*" capture="user" required="true" th:field="*{VideoDataStr}" />
                <label class="field-label-2" th:if="${#fields.hasErrors('VideoDataStr')}" th:errors="*{VideoDataStr}" style="color:red"></label>
                <input class="btn" type="submit" id="button" value="Record" />
            </form>
        </div>
    </div>
    <div class="phone-sign-in w-container">
        <div class="headhero-center">Video</div>
        <div class="hero-text-holder">
            <form action="#" th:action="@{/videoload}" th:object="${videoSaveModel}" method="post">
                <input type="file" accept="video/*" capture="user" required="true" th:field="*{VideoDataStr}" />
                <label class="field-label-2" th:if="${#fields.hasErrors('VideoDataStr')}" th:errors="*{VideoDataStr}" style="color:red"></label>
                <input class="btn" type="submit" id="button" value="Record" />
            </form>
        </div>
    </div>
    </div>
</div>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5ef28817d931a31fcc033ce0" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="js/swe-lifeline.js" type="text/javascript"></script>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>

</html>