<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-wf-page="5ef28817d931a3743b033cdf"
      data-wf-site="5ef28817d931a31fcc033ce0"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <title>Add Contact</title>
</head>
<body>
<div layout:fragment="content">
    <div class="hero-text-holder">
        <video class="video"  autoplay loop controls muted playsinline>
            <source th:src="@{/watchvideo2(id=${id})}" type="video/mp4">
            <source th:src="@{/watchvideo2(id=${id})}" type="video/webm">
            <source th:src="@{/watchvideo2(id=${id})}" type="video/*">
        </video>
    </div>
</div>
</body>
</html>