<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-wf-page="5ef28817d931a3743b033cdf"
      data-wf-site="5ef28817d931a31fcc033ce0"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <title>Emergency Video</title>
</head>
<body>
<div layout:fragment="content">
    <div class="hero-text-holder" style="text-align:center">
        <video class="video" width="350" style="object-fit: contain;" muted loop autoplay controls playsinline>
            <source th:src="${URIdata}" type="video/mp4">
            <source th:src="${URIdata}" type="video/webm">
            <source th:src="${URIdata}" type="video/mov">
            This video is not supported by your browser.
        </video>
    </div>
</div>
</body>
</html>